#define bg    #312e39
#define blk   #33303b
#define fg    #c0a79a
#define bblk  #6f63d9
#define red   #ac4157
#define grn   #417282
#define ylw   #71949a
#define blu   #686d8d
#define mag   #783e57
#define cyn   #554757
#define wht   #c0a79a


! Colors
 *background:   bg
 *foreground:   fg
 *cursorColor:  mag

 *color0:      blk
 *color8:      bblk
 *color1:      red
 *color9:      red
 *color2:      grn
 *color10:     grn
 *color3:      ylw
 *color11:     ylw
 *color4:      blu
 *color12:     blu
 *color5:      mag
 *color13:     mag
 *color6:      cyn
 *color14:     cyn
 *color7:      wht
 *color15:     wht

URxvt.scrollBar: false
URxvt.internalBorder: 20
!URxvt.font: xft:FreeSans:style=Regular:size=12
URxvt.font: -*-clean-medium-r-*-*-15-*-*-*-*-*-*-*

